#heading2 {
    color:darkred;

}
.blue_background{
    background-color: plum;

}

p {
    border: 2px solid rgb(160, 12, 37);


}

span{
    color: rgb(206, 112, 112);
}

#red_word {
    font-weight: bold;
    font-family: arial;
}

.bigword{
    font-size: larger;
}